---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="カート | Vape Import EC">
  <h1 class="text-2xl font-semibold mb-4">ショッピングカート</h1>
  <CartView client:load />

  <script>
    import CartView from '@/pages/shared/CartView'
  </script>
</BaseLayout>

